<form class="search-form">
  <input
    type="search"
    class="form-control search-form-input"
    placeholder="Search expenses... (limited, Firestore does not support full-text search and it is case sensitive)"
    [formControl]="search"
  />
  <div
    class="search-form-loader"
    [ngClass]="{
      'search-form-loader-active': (searchLoading$ | async) === true
    }"
  ></div>
</form>

<div class="home">
  <app-expenses-list
    [budgets]="expenses$ | async"
    mode="static"
  ></app-expenses-list>

  <app-stats mode="home"></app-stats>
</div>
